
.jumbotron {
    /* margin: 50px; */
    max-width:100%;
    background:darkgray;
    padding:50px;
    background-image:url("jumbo.jpg");
    background-size:cover;
    height:400px;
    /* border-radius: 1px solid red; */
   
}

.display-4 {
    font-size: 60px;
    color:white;
}

/* .place { */
    /* width:450px; */
    /* margin: 10px auto; */
    /* padding: 10px; */
    /* border-radius: 9px; */
    /* border: 0px; */
/* } */

.wrapper input[type="text"] {
  position: relative; 
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
  font-family: 'FontAwesome';
  color:red;
  position: relative;
  left: -5px;
  content: "&#61442";
}

 .btn { 
 background: crimson;
 margin:10px;
 color:white;
 padding:5px;
 }

 .btn:hover{
   background-color:orange;
 }

 #input {
   margin-right:10px 50px;
 }

 /*################### top cities for card ######### */
 .wrap {
   /* text-align: center; */
  
 }


 .card {
   /* float:left; */
   /* text-align:center; */
   padding:5px ;
   margin-left:0px;
   padding-bottom:20px;
   max-width:200px;
   /* max-width:200px; */
 }

 ul {
   padding:10px;
 }

 ul li {
  list-style-type: none;
 }

 h4{
   padding:10px;
 }

/* ######################################################## */